---
layout: default
---

<div class="page-post">
    <article class="blog-post">
        
        <div class="post-header">
            <div class="container">
                <h1 class="post-title">{{ page.title }}</h1>
                
                <div class="post-meta">
                    <div class="author-info">
                        <div class="author">{{ page.author }}</div>
                    </div>
                    <span>•</span>
                    <span>{{ page.date | date: "%B %d, %Y" }}</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="post-content">
                
                {% if page.image %}
                <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" style="width:100%; margin-bottom: 2rem;">
                {% endif %}

                {{ content }}
                
            </div>
        </div>
    </article>
</div>
